@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');


body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* Set tileable background image */
  body {
    background-image: url('grassTile.png');
    background-repeat: repeat; /* This ensures the background image is tileable */
  }

  #stock-market {
    position: absolute; 
    top: 600px; 
    left: 600px; /* Move the element 600px to the right */
}
.furnace-container {
  position: fixed; /* Fixed positioning */
  top: 10px; /* 10px from the bottom */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center the container */
}

#furnace-arrow {
  rotate: 180deg;
  width: 50px; /* Adjust dimensions as needed */
  z-index: 3;
  height: auto;
  cursor: pointer;
}

.furnace-text-container {
  position: fixed; /* Fixed positioning */
  color: #00ff00;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-family: 'Silkscreen', sans-serif;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  z-index: 2;
}